.shy-ui-advanced-search {
  .ant-form-item {
    margin-bottom: 0;
  }
  .ant-space {
    width: 100%;
  }
  &-item-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  &-item-op {
    margin-right: 8px;
    flex: none;
  }

  &-item-value {
    flex: 1 1 0;
  }

  &-item-value-range {
    display: flex;
    align-items: center;

    & > div {
      flex: 1 1 0;

      &:first-child {
        margin-right: 8px;
      }
    }
  }

  .ant-picker {
    width: 100%;
  }
}
