@prefix-cls: ~'@{namespace}-basic-modal';

.@{prefix-cls} {
  // @media screen and (max-height: 600px) {
  //   .ant-modal {
  //     top: 60px;
  //   }
  // }

  // @media screen and (max-height: 540px) {
  //   .ant-modal {
  //     top: 30px;
  //   }
  // }

  // @media screen and (max-height: 480px) {
  //   .ant-modal {
  //     top: 10px;
  //   }
  // }


  :is(.ant-modal-content) {
    padding: 0;
    // box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  }

  :is(.ant-modal-close) {
    top: unset;
    width: unset;
    height: unset;
    font-weight: normal;
    outline: none;
    height: 54px;
    line-height: 54px;

    &:hover,
    &:active {
      background: unset;
    }
  }

  :is(.ant-modal-header) {
    height: 56px;
    padding: 18px 16px;
    margin: 0;
    box-shadow: inset 0px -1px 0px 0px var(--gray-3);
    border-bottom: unset;
  }

  :is(.ant-modal-body){
    padding: unset !important;
  }

  :is(.ant-modal-footer) {
    height: 56px;
    padding: 12px 16px;
    margin: 0;
    border-top: unset;
    box-shadow: inset 0px 1px 0px 0px var(--gray-3);
    background: var(--gray-1);
  }
}

.@{prefix-cls}.fullscreen-modal {
  height: 100%;
  overflow: hidden;

  .ant-modal-header {
    pointer-events: none;
  }

  .ant-modal {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    padding-bottom: 0;
    margin: 0;
    width: 100% !important;
    max-width: 100%;
    height: 100% !important;
  }

  .ant-modal-body {
    flex: 1;
  }

  .ant-modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
