@prefix-cls: ~'@{namespace}-basic-modal';

.@{prefix-cls} {
  :is(.ant-modal-content) {
    padding: 0;
  }

  :is(.ant-modal-close) {
    top: unset;
    width: unset;
    height: unset;
    font-weight: normal;
    outline: none;
    height: 54px;
    line-height: 54px;

    &:hover,
    &:active {
      background: unset;
    }
  }

  :is(.ant-modal-header) {
    height: 56px;
    padding: 18px 16px;
    margin: 0;
    box-shadow: inset 0px -1px 0px 0px var(--gray-2);
    border-bottom: unset;
  }

  :is(.ant-modal-body) {
    padding: unset !important;
    display: flex;
    overflow: hidden;

    * {
      &::-webkit-scrollbar {
        position: absolute;
        height: 10px;
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 10px 10px var(--gray-1);
        border: solid 2px transparent;
        background-color: transparent;
        border-radius: 10px;

        &:active,
        &:hover {
          box-shadow: inset 0 0 10px 10px var(--gray-2);
          background-color: transparent;
        }
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        border: solid 2px transparent;
        background: transparent;
      }
    }
  }

  :is(.ant-modal-footer) {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    height: 56px;
    padding: 12px 16px;
    margin: 0;
    border-top: unset;
    box-shadow: inset 0px 1px 0px 0px var(--gray-2);
    background: var(--gray-0);
    border-radius: 0 0 10px 10px;
  }
}

.@{prefix-cls}.fullscreen-modal {
  height: 100%;
  overflow: hidden;

  .ant-modal-header {
    pointer-events: none;
  }

  .ant-modal {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    padding-bottom: 0;
    margin: 0;
    width: 100% !important;
    max-width: 100%;
    height: 100% !important;
  }

  .ant-modal-body {
    flex: 1;

    & > div {
      min-height: 100% !important;
      max-height: 100% !important;
      height: 100% !important;
    }
  }

  .ant-modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
// 临时解决antdv官方modal组件aria-hidden报错问题
.ant-modal div[aria-hidden="true"] {
  visibility: hidden !important;
}