@prefix-cls: ~'@{namespace}-ant-form';

.@{prefix-cls} {
  display: flex;
  justify-content: space-between;
  padding: 1px;

  &-collapse {
    flex: calc(var(--col-span) - var(--gap));
    width: calc(var(--col-span) - var(--gap));
    max-width: calc(var(--col-span) - var(--gap) + var(--w-gap));
    background: transparent;

    .ant-collapse-header.ant-collapse-header {
      align-items: center;
      background: var(--gray-1);
      padding: 0 8px;
      border-radius: 4px !important;
    }

    .ant-collapse-content-box.ant-collapse-content-box {
      padding: 8px 0;
      display: flex;
      flex-flow: row wrap;
      gap: var(--gap);
    }
  }

  :is(.ant-input-number) {
    width: 100%;
  }

  :is(.ant-row) {
    gap: var(--gap);
  }

  .@{namespace}-basic-title {
    margin: 8px 0;
  }

  .ant-form-item {
    &-required {
      padding-inline-start: 10px;
    }

    &-label {
      padding: 0;
      text-align: unset;

      label::before {
        position: absolute;
        left: 0;
      }

      label::after {
        margin: 0 6px 0 2px;
      }
    }

    &-with-help {
      margin-bottom: 0;
    }

    &:not(.ant-form-item-with-help) {
      margin-bottom: 0;
    }

    &-control-input-content > div > div:not(.ant-input-number-handler-wrap) {
      width: 100%;
    }

    &.suffix-item {
      .ant-form-item-children {
        display: flex;
      }

      .ant-form-item-control {
        margin-top: 4px;
      }

      .suffix {
        display: inline-flex;
        align-items: center;
        padding-left: 6px;
        margin-top: 1px;
        line-height: 1;
      }
    }

    .ant-picker {
      padding: 5px 12px;
      width: 100%;
    }
  }

  &-content-col {
    & > .ant-row > .ant-col,
    .ant-collapse-content-box > .ant-col {
      flex: calc(var(--col-span) - var(--gap));
      width: calc(var(--col-span) - var(--gap));
      max-width: calc(var(--col-span) - var(--gap) + var(--w-gap));
    }

    @media (width > 1920px) {
      & > .ant-row > .@{prefix-cls}-table-form-item:has(.ant-picker) {
        flex: var(--col-span);
        max-width: 410px;
      }

      & > .ant-row > .@{prefix-cls}-table-form-item:not(:has(.ant-picker)) {
        flex: var(--col-span);
        max-width: 273px;
      }
    }
  }

  &-action {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    .ant-form-item-control-input-content {
      display: flex;
      gap: 8px;
      padding-left: 20px;
    }
  }

  &-show {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    gap: 10px;
    width: fit-content;
    white-space: nowrap;
  }

  &-input {
    width: 100%;
    flex: 1;
  }

  &-row {
    width: 100%;
  }

  &-action-content {
    flex: calc(var(--col-span) - var(--gap));
    width: calc(var(--col-span) - var(--gap));
    max-width: calc(var(--col-span) - var(--gap) + var(--w-gap));
  }

  &-action-content .ant-form-item {
    padding: 0;
  }

  .ant-form-explain {
    font-size: 14px;
  }

  &-divider {
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    font-family: PingFangSC-Semibold;
    color: #131415;
    line-height: 16px;

    &::after {
      display: inline-block;
      margin-left: 8px;
      width: 2px;
      height: 14px;
      content: '';
      background: #2991ff;
    }
  }

  .table-children-err-popover {
    :is(.ant-popover-inner) {
      padding: 0 !important;
    }

    :is(.ant-popover-inner-content) {
      padding: 6px 16px;
    }
  }
}

.@{prefix-cls}-split-line {
  margin: 8px 0 0 0;
  height: 0.5px;
  width: 100%;
  background-color: var(--gray-2);
}

.@{prefix-cls}-wrapper {
  --max-width-large: 1224px;
  --max-width-middle: 864px;
  --max-width-small: 720px;
  --min-width--large: 70%;
  --min-width--middle: 69%;
  --min-width--small: 68%;

  &-col-1 {
    @media screen and(max-width:1440px) {
      min-width: calc(var(--min-width--small) * (1 / 3));
      max-width: calc(var(--max-width-small) * (1 / 3));
    }
    @media screen and(max-width:1920px) and(min-width:1440px) {
      min-width: calc(var(--min-width--middle) * (1 / 3));
      max-width: calc(var(--max-width-middle) * (1 / 3));
    }
    @media screen and(min-width:1920px) {
      min-width: calc(var(--min-width--large) * (1 / 3));
      max-width: calc(var(--max-width-large) * (1 / 3));
    }
  }

  &-col-2 {
    @media screen and(max-width:1440px) {
      min-width: calc(var(--min-width--small) * (1 / 3) * 2);
      max-width: calc(var(--max-width-small) * (1 / 3) * 2);
    }
    @media screen and(max-width:1920px) and(min-width:1440px) {
      min-width: calc(var(--min-width--middle) * (1 / 3) * 2);
      max-width: calc(var(--max-width-middle) * (1 / 3) * 2);
    }
    @media screen and(min-width:1920px) {
      min-width: calc(var(--min-width--large) * (1 / 3) * 2);
      max-width: calc(var(--max-width-large) * (1 / 3) * 2);
    }
  }

  &-col-3 {
    @media screen and(max-width:1440px) {
      min-width: var(--min-width--small);
      max-width: var(--max-width-small);
    }
    @media screen and(max-width:1920px) and(min-width:1440px) {
      min-width: var(--min-width--middle);
      max-width: var(--max-width-middle);
    }
    @media screen and(min-width:1920px) {
      min-width: var(--min-width--large);
      max-width: var(--max-width-large);
    }
  }
}
