@prefix-cls: ~'@{namespace}-ant-form';

.@{prefix-cls} {
  display: flex;
  justify-content: space-between;
  padding-top: 1px;

  :is(.ant-input-number) {
    width: 100%;
  }

  .ant-form-item {
    padding-right: 12px;

    &-label label::after {
      margin: 0 6px 0 2px;
    }

    &-with-help {
      margin-bottom: 0;
    }

    &:not(.ant-form-item-with-help) {
      margin-bottom: 20px;
    }

    &-control-input-content > div > div:not(.ant-input-number-handler-wrap) {
      width: 100%;
    }

    &.suffix-item {
      .ant-form-item-children {
        display: flex;
      }

      .ant-form-item-control {
        margin-top: 4px;
      }

      .suffix {
        display: inline-flex;
        align-items: center;
        padding-left: 6px;
        margin-top: 1px;
        line-height: 1;
      }
    }

    .ant-picker {
      width: 100%;
    }
  }

  &-content-col {
    & > .ant-row > .ant-col {
      flex: var(--col-span);
      width: var(--col-span);
      max-width: var(--col-span);
    }

    @media (width > 1920px) {
      & > .ant-row > .@{prefix-cls}-table-form-item:has(.ant-picker) {
        flex: var(--col-span);
        max-width: 410px;
      }

      & > .ant-row > .@{prefix-cls}-table-form-item:not(:has(.ant-picker)) {
        flex: var(--col-span);
        max-width: 273px;
      }
    }
  }

  &-action {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    .ant-form-item-control-input-content {
      display: flex;
      gap: 8px;
      padding-left: 20px;
    }
  }

  &-show {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    gap: 10px;
    width: fit-content;
    white-space: nowrap;
  }

  &-input {
    width: 100%;
    flex: 1;
  }

  &-row {
    width: 100%;
  }

  &-action-content .ant-form-item {
    padding: 0;
  }

  .ant-form-explain {
    font-size: 14px;
  }

  &--compact {
    .ant-form-item {
      margin-bottom: 8px !important;
    }
  }

  &-divider {
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    font-family: PingFangSC-Semibold;
    color: #131415;
    line-height: 16px;

    &::after {
      display: inline-block;
      margin-left: 8px;
      width: 2px;
      height: 14px;
      content: '';
      background: #2991ff;
    }
  }

  .table-children-err-popover {
    :is(.ant-popover-inner) {
      padding: 0 !important;
    }

    :is(.ant-popover-inner-content) {
      padding: 6px 16px;
    }
  }
}

.@{prefix-cls}-split-line {
  margin: 8px 0 16px 0;
  height: 0.5px;
  width: 100%;
  background-color: var(--gray-3);
}

.@{prefix-cls}-wrapper-col-1 {

  @media screen and(max-width:1440px) {
    min-width: 46%;
    max-width: 492px;
  }
  @media screen and(max-width:1920px) and(min-width:1440px) {
    min-width: 47%;
    max-width: 588px;
  }
  @media screen and(min-width:1920px) {
    min-width: 48%;
    max-width: 828px;
  }
}

.@{prefix-cls}-wrapper-col-2{
  @media screen and(max-width:1440px) {
    min-width: 69%;
    max-width: 732px;
  }
  @media screen and(max-width:1920px) and(min-width:1440px) {
    min-width: 70%;
    max-width: 876px;
  }
  @media screen and(min-width:1920px) {
    min-width: 71%;
    max-width: 1236px;
  }
}

.@{prefix-cls}-wrapper-col-3{
  @media screen and(max-width:1440px) {
    min-width: 68%;
    max-width: 720px;
  }
  @media screen and(max-width:1920px) and(min-width:1440px) {
    min-width: 69%;
    max-width: 864px;
  }
  @media screen and(min-width:1920px) {
    min-width: 70%;
    max-width: 1224px;
  }
}


