@prefix-cls: ~'shy-basic-page-second';

.@{prefix-cls} {
  &-wrapper {
    display: flex;
    overflow: hidden;
    height: 100%;
    background-color: var(--theme);
    flex-flow: column nowrap;
  }

  &-header {
    display: flex;
    align-items: center;
    line-height: 40px;
    padding: 0 10px;
    height: 40px;
    flex: none;
    border-bottom: 1px solid #eaeaea;

    &-icon {
      font-size: 16px;
    }

    &-title {
      display: flex;
      align-items: center;
      margin-left: 30px;
      font-size: 20px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: #131415;
    }
  }

  &-body {
    flex: auto;
    overflow: hidden;
  }

  &-footer {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-top: 1px solid #eaeaea;
  }
}
