@prefix-cls: ~'@{namespace}-basic-form';

.@{prefix-cls} {
  display: flex;
  justify-content: space-between;

  :is(.ant-input-number) {
    width: 100%;
  }

  &-action {
    width: 250px !important;
  }

  &-input {
    width: 100%;
    flex: 1;
  }

  &-toggle {
    position: relative;
    display: flex;
    justify-content: center;

    &-left__line {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      margin-top: -0.5px;
      width: calc(50% - 19px);
      height: 1px;
      background: #e2e2e3;
      content: '';
    }

    &-right__line {
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      margin-top: -0.5px;
      width: calc(50% - 19px);
      height: 1px;
      background: #e2e2e3;
      content: '';
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 16px;
      border: 1px solid #2991ff;
      border-radius: 0;
      transition: all 0.1;
      cursor: pointer;

      &.expend {
        transform: rotate(180deg);
      }
    }
  }

  .ant-form-item {
    &-label label::after {
      margin: 0 6px 0 2px;
    }

    &-with-help {
      margin-bottom: 0;
    }

    &:not(.ant-form-item-with-help) {
      margin-bottom: 20px;
    }

    &-control-input-content > div > div:not(.ant-input-number-handler-wrap) {
      width: 100%;
    }

    &.suffix-item {
      .ant-form-item-children {
        display: flex;
      }

      .ant-form-item-control {
        margin-top: 4px;
      }

      .suffix {
        display: inline-flex;
        align-items: center;
        padding-left: 6px;
        margin-top: 1px;
        line-height: 1;
      }
    }
  }

  .ant-form-explain {
    font-size: 14px;
  }

  &--compact {
    .ant-form-item {
      margin-bottom: 8px !important;
    }
  }
}

.shy-form-action {
  .ant-form-item-control-input-content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex: 1;

    button {
      margin: 0 5px;
    }
  }
}

.shy-form-divider {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 14px;
  font-weight: 600;
  font-family: PingFangSC-Semibold;
  color: #131415;
  line-height: 16px;

  &::after {
    display: inline-block;
    margin-left: 8px;
    width: 2px;
    height: 14px;
    content: '';
    background: #2991ff;
  }
}

.table-children-err-popover .ant-popover-inner-content{
  padding: 6px 16px;
}
