@import url('./var.less');

@namespace: shy;

:is(.ant-input-affix-wrapper-focused, .ant-picker-focused) {
  box-shadow: none;
  background-color: var(--gray-0);
  outline: 1px solid var(--green-5);
  transition: background-color outline-width ease-in-out 0.3s;

  input {
    background-color: var(--gray-0);
  }
}

:is(.ant-select-focused).ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer) {
  :is(.ant-select-selector) {
    box-shadow: none;
    outline: 1px solid var(--green-5);
    background-color: var(--gray-0);
    transition: background-color outline-width ease-in-out 0.3s;
  }
}
