:root {

  --shadow-2: 0px 2px 4px 0px rgba(0, 0, 0, 0.04),
    0px 1px 1px 0px rgba(0, 0, 0, 0.02);

  --shadow-3: 0px 4px 10px 0px rgba(0, 0, 0, 0.08),
    0px 1px px 0px rgba(0, 0, 0, 0.04);

  --shadow-4: 0px 8px 32px 0px rgba(0, 0, 0, 0.08),
    0px 2px 20px 0px rgba(0, 0, 0, 0.04);

  --shadow-5: 0px 24px 60px 0px rgba(0, 0, 0, 0.12),
    0px 8px 20px 0px rgba(0, 0, 0, 0.06);

  --light: #fff;

  --dark: #141414;
}

html[data-theme='dark'] {
  --theme: var(--dark);
  --text-color: var(--light);
  color-scheme: dark;
}

html[data-theme='light'] {
  --theme: var(--light);
  --text-color: var(--dark);
  color-scheme: light;
}
