@prefix-cls: ~'@{namespace}-ant-table-footer';

.@{prefix-cls} {
  margin-top: 12px;
  display: flex;
  width: 100%;
  min-height: 32px;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  :is(.ant-pagination-item-active) {
    background-color: var(--primary-5);

    a {
      color: var(--gray-0);
    }
  }

  :is(.ant-pagination-total-text) {
    > span {
      color: var(--gray-4);

      > span {
        color: var(--gray-8);
      }
    }
  }

  &-count {
    margin-inline: 4px;
    color: var(--gray-8);
  }

  &-count-box {
    color: var(--gray-4);
    white-space: nowrap;
  }

  &-settings {
    display: flex;
    height: 100%;
    font-size: 14px;
    flex: 1;
    align-items: center;
    gap: 16px;

    &-box > div {
      display: flex;
      gap: 8px;
    }
  }
}
