@prefix-cls: ~'@{namespace}-ant-column-setting';

.@{prefix-cls} {
  .table-column-drag-icon {
    margin: 0 5px;
    cursor: move;
  }

  &__popover-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__check-item {
    display: flex;
    align-items: center;
    padding: 4px 16px 8px 0;
    min-width: 100%;

    .ant-checkbox-wrapper {
      width: 100%;

      &:hover {
        color: @primary-color;
      }
    }
  }

  &__fixed-left,
  &__fixed-right {
    color: rgb(0 0 0 / 45%);
    cursor: pointer;

    &.active,
    &:hover {
      color: @primary-color;
    }

    &.disabled {
      color: @disabled-color;
      cursor: not-allowed;
    }
  }

  &__fixed-right {
    transform: rotate(180deg);
  }

  &__column-list {
    svg {
      width: 1em !important;
      height: 1em !important;
    }

    .ant-popover-inner-content {
      padding-right: 0;
      padding-left: 0;
    }

    .ant-checkbox-group {
      max-width: 265px;
    }

    .scrollbar {
      height: 220px;
    }
  }
}
