@prefix-cls: ~'@{namespace}-ant-table-action';

.@{prefix-cls} {
  display: flex;
  align-items: center;

  .action-divider {
    display: table;
  }

  &.left {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }

  button {
    display: flex;
    align-items: center;

    span {
      margin-left: 0 !important;
    }
  }

  button.ant-btn-circle {
    span {
      margin: auto !important;
    }
  }

  .ant-divider,
  .ant-divider-vertical {
    margin: 0 1px;
  }

  .icon-more {
    transform: rotate(90deg);

    svg {
      font-size: 1.1em;
      font-weight: 700;
    }
  }

  .ant-btn-link {
    padding-left: 0;
  }

  &-footer-more-btn {
    display: flex;
    gap: 16px;

    &-text {
      position: relative;
      display: flex;
      height: 100%;
    }

    &-text::before {
      content: '';
      position: absolute;
      right: -8px;
      display: block;
      height: 100%;
      width: 0.5px;
      background-color: var(--gray-3);
    }
  }

  &-footer-more-text {
    position: relative;
    display: flex;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      right: -8px;
      display: block;
      height: 100%;
      width: 0.5px;
      background-color: var(--gray-3);
    }
  }
}
