@prefix-cls: ~'@{namespace}-table-header';

.@{prefix-cls} {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-align {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-align-left {
    flex-direction: row;
  }

  &-align-right {
    flex-direction: row-reverse;
  }

  &-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }

  &-settings {
    display: flex;
    gap: 16px;
  }

  &-title {
    display: flex;
    gap: 10px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }
}
