@prefix-cls: ~'shy-basic-descriptions';

.@{prefix-cls} {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &-collapse {
    background: transparent;

    .ant-collapse-header.ant-collapse-header {
      align-items: center;
      background: var(--gray-1);
      padding: 0 8px;
      border-radius: 4px !important;
    }

    .ant-collapse-content-box.ant-collapse-content-box {
      padding: 8px 0;
    }
  }
}

