.shy-basic-description-wrapper {
  display: flex;
  flex-flow: row wrap;
  overflow-y: auto;
}
.shy-basic-description-label {
  color: #797a7a;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
  font-size: 14px;
  flex: none;
}
.shy-basic-description-value {
  display: inline-block;
  flex: auto;
  overflow-wrap: anywhere;
}
.shy-basic-description-row {
  display: flex;
  margin: 8px 0;
  overflow: hidden;
}
.shy-form-divider {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 14px;
  font-weight: 600;
  font-family: PingFangSC-Semibold;
  color: #131415;
  line-height: 16px;
}
.shy-form-divider::after {
  display: inline-block;
  margin-left: 8px;
  width: 2px;
  height: 14px;
  content: '';
  background: #2991ff;
}
