@prefix-cls: ~'shy-basic-description';

.@{prefix-cls} {
  &-wrapper {
    display: flex;
    flex-flow: row wrap;
    overflow-y: auto;
  }

  &-wrapper-bordered {
    border-top: 1px solid #0505050f;
    border-left: 1px solid #0505050f;

    .@{prefix-cls} {

      &-row {
        padding: 0;
        border-bottom: 1px solid #0505050f;
      }

      &row:last-child {
        border-bottom: 0 !important;
      }

      &-label {
        align-items: center;
        padding: 10px 0;
        background-color: #00000005;
        border-right: 1px solid #0505050f;

      }

      &-value {
        align-items: center;
        padding: 10px;
        border-right: 1px solid #0505050f;
      }
    }
  }

  &-label {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    font-size: 14px;
    color: #797a7a;
    flex: none;
  }

  &-value {
    display: flex;
    flex: auto;
    overflow-wrap: anywhere;
    font-size: 14px;
  }

  &-row {
    display: flex;
    overflow: hidden;
    padding: 8px 0;
  }
}

.shy-form-divider {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 14px;
  font-weight: 600;
  font-family: PingFangSC-Semibold;
  color: #131415;
  line-height: 16px;

  &::after {
    display: inline-block;
    margin-left: 8px;
    width: 2px;
    height: 14px;
    content: '';
    background: #2991ff;
  }
}
