@prefix-cls: ~'shy-basic-description';

.@{prefix-cls} {
  &-wrapper {
    display: flex;
    flex-flow: row wrap;
    overflow-y: auto;
    border-radius: 4px;
  }

  &-wrapper-bordered {
    border-top: 1px solid var(--gray-2);
    border-left: 1px solid var(--gray-2);

    .@{prefix-cls} {
      &-row {
        padding: 0;
        // border-bottom: 1px solid var(--gray-2);
      }

      &row:last-child {
        border-bottom: 0 !important;
      }

      &-label {
        align-items: center;
        border-right: 1px solid var(--gray-2);
        border-bottom: 1px solid var(--gray-2);
        background: var(--gray-0);
      }

      &-value {
        align-items: center;
        background-color: var(--theme);
        border-right: 1px solid var(--gray-2);
        border-bottom: 1px solid var(--gray-2);

        .ant-form-item {
          margin-bottom: 0px !important;
          width: 100%;
        }
        .ant-form-item-control-input {
          min-height: 0 !important;
        }
      }
    }
  }

  &-label {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    flex: none;
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-color);
    line-height: 20px;
    font-style: normal;
    padding: 10px 12px;
    box-sizing: border-box;
  }

  &-value {
    display: flex;
    flex: auto;
    overflow-wrap: anywhere;
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-color);
    line-height: 20px;
    text-align: left;
    font-style: normal;
    padding: 10px 12px;
    box-sizing: border-box;
    overflow: hidden;
  }

  &-row {
    display: flex;
    overflow: hidden;
    padding: 8px 0;
  }
}

.shy-form-divider {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 14px;
  font-weight: 600;
  font-family: PingFangSC-Semibold;
  color: #131415;
  line-height: 16px;

  &::after {
    display: inline-block;
    margin-left: 8px;
    width: 2px;
    height: 14px;
    content: '';
    background: #2991ff;
  }
}
