@prefix-cls: ~'shy-basic-table-plus';

.@{prefix-cls} {
  &-wrapper {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    overflow: hidden;
  }

  &-toolbar {
    height: 50px;
    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 50px;
      flex: none;

      & > button,
      & > div {
        margin-right: 10px;
      }
    }
  }

  &-search {
    flex: none;
  }

  &-body {
    flex: 1 1 auto;
    overflow: hidden;
  }

  &-pagination {
    flex: none;
    padding: 5px 0;
    //overflow: hidden;
    text-align: right;
  }
}

.vxe-table--border-line {
  border-left-width: 0 !important;
  border-right-width: 0 !important;
}

.vxe-header--row {
  .vxe-header--column:last-child {
    .vxe-resizable {
      display: none;
    }
  }
}
