@prefix-cls: ~'shy-basic-table-plus';

.@{prefix-cls} {
  &-wrapper {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    overflow: hidden;
  }

  &-toolbar {
    height: 32px;
    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 32px;

      flex: none;

      & > button,
      & > div {
        margin-right: 10px;
      }
    }
  }

  &-search {
    flex: none;
    // border-bottom: 1px solid var(--gray-2);
  }

  &-body {
    flex: 1 1 auto;
    overflow: hidden;
  }

  &-pagination {
    flex: none;
    padding-top: 12px;
    //overflow: hidden;
    text-align: right;
  }
}

.vxe-header--row {
  .vxe-header--column:last-child {
    .vxe-resizable {
      display: none;
    }
  }
}

.vxe-body--x-space {
  display: none !important;
}

// .vxe-table--header-wrapper {
//   background-color: var(--gray-0);
// }

.vxe-header--column {
  background-color: var(--gray-0) !important;
  color: rgba(0, 0, 0, 0.88) !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}
// .vxe-table--render-wrapper {
//   border-radius: 4px !important;
//   overflow: hidden;
// }
// .vxe-table--main-wrapper {
//   border-radius: 4px !important;
// }

.vxe-table--border-line {
  border-color: var(--gray-2) !important;
  border-radius: 4px !important;
}
